ebin
doc
deps
_test
.eunit

# ignore compiled files
*.beam

# ignore vim files
*~
*.swp
*.swo
*.swn
*.swm

# ignore emacs files
\#*
.\#*

# ignore IntelliJ files
*.iws
/admin/intellij/out/
.idea*

# Random mac files
.DS_Store

